<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Slider</title>
    <!-- style-css -->
	<link rel="stylesheet" href="css/style.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
	<script src="js/script.js" defer></script>
</head>
<body>
     <div class="slider">
         <div class="slider-viewer">
            <img v-for="(obj,i) in arrImages" :src="'img/'+ obj.image" :key="obj.image" class="slider-img" :class="{active: i === activeIndex}">
            <div v-for="(obj,i) in arrImages" :key="obj.image" class="text" :class="{active: i === activeIndex}">
                <h2>{{ obj.title }}</h2>
                <p>{{ obj.text }}</p>
            </div>
		</div>
		<div class="thumbs">
            <img v-for="(obj,i) in arrImages" :src="'img/' + obj.image" :key="obj.image" class="thumb-img" :class="{active: i === activeIndex}"@click="setActiveIndex(i)">
			<div class="controls">
				<div class="button-up" @click="changeSlide(-1)">&and;</div>
				<div class="button-down" @click="changeSlide(1)">&or;</div>
			</div>
		</div>
		<div class="btns">
			<button class="btn-start-stop" @click="controlAutoPlay">{{ isAutoplayActive ? 'Stop' : 'Start' }}</button>
			<button class="btn-invert" @click="invertAutoPlay">Invert</button>
		</div>
	</div> 
</body>
</html>